@import url('./header.css');
@import url('./links.css');
@import url('./card.css');
@import url('./github-card.css');


.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}