.links {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    background-color: var(--color-background-elevated);
    max-width: 200px;
    padding: var(--spacing-xl);
    border-radius: var(--border-radius-md);
    margin-top: var(--spacing-xl);
}

.links__title {
    text-align: center;
    font-size: 2rem;
}

.links__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
}

.links__item {
    font-size: 1.1rem;
}

.links__item:hover {
    color: var(--color-primary);
}