.waveOverlay {
    position: fixed;
    inset: 0;
    z-index: 10000;
    
    user-select: none;
    pointer-events: auto;

    background: var(--wave-gradient);
    background-size: 200% 100%;
    
    animation: waveAnimation 1.5s linear infinite;
}

@keyframes waveAnimation {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}