:root {
    /* Размеры и отступы */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-smd: 12px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    /* Радиусы скругления */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 20px;
    --border-radius-full: 50%;
}